@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Awesome App!</h1>
    <p>This app was deployed using Jenkins CI/CD pipeline! 🚀</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p> Made by arif <p>
    <p><h1>ooooooo testing <h1> <p>
</div>